@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.body {
  background: #f6f9fa;
}

.wrapper {
  margin: 0 auto;
  padding: 0 90px 0 219px;
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  padding: 15px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 140px;
  position: absolute;
  background: #2a8086;
}

.header .wrapper {
  max-height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.header .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .auth__search {
  margin-right: 34px;
  width: 32px;
  height: 32px;
  background: url(../../assets/icons/search-icon.svg) no-repeat;
  opacity: .7;
}

.header .auth__search:hover {
  opacity: 1;
}

.header .auth__input_search {
  display: none;
}

.header .auth__login, .header .auth__signup {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c5e1e5;
}

.header .auth__signup {
  margin: 0 0 4px 17px;
  padding: 16px 14px 15px;
  border: 1px solid #c5e1e6;
  border-radius: 100px;
}

.header .auth__signup:hover {
  border: 1px solid #ffffff;
}

.header .auth__btn:hover {
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .logo {
  max-width: 108px;
  max-height: 84px;
}

.menu .logo__link {
  width: 108px;
  height: 84px;
  display: block;
  background: url(../../assets/icons/logo.svg) no-repeat;
}

.menu__list {
  padding: 0 0 4px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  padding-right: 53px;
}

.menu__link {
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c5e1e5;
}

.menu__link:hover {
  color: #ffffff;
}

.menu__link:active {
  border-bottom: 2px solid #c5e1e6;
}

.menu__link_active {
  pointer-events: none;
  color: #ffffff;
  border-bottom: 2px solid #c5e1e6;
}

.menu__link_active:hover {
  cursor: default;
}

.country_hover {
  fill: #0d444d;
}

.map {
  width: 100%;
  min-width: 1920px;
  height: 1040px;
  position: relative;
  top: 110px;
  background: #2a8086;
}

.map .wrapper {
  position: relative;
}

.map__caption {
  padding: 26px 0 53px;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #c5e1e5;
  text-transform: uppercase;
}

.map__bg {
  margin: 0 auto;
  width: 1438px;
  height: 912px;
}

.map__link {
  margin: 25px auto 0;
  width: 90px;
  height: 90px;
  display: block;
}

.map__link:hover ~ .map__tooltip {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 20;
}

.map__link:hover .map__pic_panda,
.map__link:hover .map__pic_eagle,
.map__link:hover .map__pic_gorilla,
.map__link:hover .map__pic_aligator {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.map__link:hover .map__image_panda::before,
.map__link:hover .map__image_eagle::before,
.map__link:hover .map__image_gorilla::before,
.map__link:hover .map__image_aligator::before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.map__pic {
  width: 91px;
  height: 91px;
  position: relative;
  overflow: hidden;
  border: 10px solid #b9d5d9;
  border-radius: 48% 52% 65% 35% / 43% 46% 54% 57%;
  background: #c5e1e6;
  -webkit-box-shadow: 0px 4px 10px #c5e1e5;
          box-shadow: 0px 4px 10px #c5e1e5;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.map__pic:hover {
  border: 10px solid #0a5d69;
}

.map__image {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.map__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.map__image_eagle::before {
  background: url(../../assets/images/eagle.jpg) center/cover;
}

.map__image_gorilla::before {
  background: url(../../assets/images/gorilla.jpg) center/cover;
}

.map__image_aligator::before {
  background: url(../../assets/images/crocodile.jpg) center/cover;
  background-position-x: left;
}

.map__image_panda::before {
  background: url(../../assets/images/panda.jpg) center/cover;
}

.map__size {
  width: 79px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 980px;
  right: 104px;
}

.map__zoom_in, .map__zoom_out {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.4);
  border: 1.5px solid #ffffff;
  border-radius: 50%;
}

.map__zoom_in:hover, .map__zoom_out:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  transition: .3s;
}

.map__zoom_in {
  background-image: url(../../assets/icons/zoomin-icon.svg);
  background-size: 100%;
}

.map__zoom_out {
  background-image: url(../../assets/icons/zoomout-icon.svg);
  background-size: contain;
}

.map__eagle, .map__aligator, .map__gorilla, .map__panda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: absolute;
}

.map__eagle {
  top: 336px;
  left: 238px;
  z-index: 10;
}

.map__aligator {
  top: 407px;
  left: 394px;
}

.map__gorilla {
  top: 507px;
  left: 757px;
}

.map__panda {
  top: 374px;
  right: 410px;
}

.map__tooltip {
  width: 410px;
  height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  opacity: 0;
}

.map__tooltip .triangle {
  position: absolute;
  bottom: -5px;
  left: 50%;
  background: #ffffff;
  -webkit-transform: skewX(-30deg) scale(1, 0.866);
          transform: skewX(-30deg) scale(1, 0.866);
}

.map__tooltip .triangle::before, .map__tooltip .triangle::after {
  content: '';
  position: absolute;
  background-color: inherit;
}

.map__tooltip .triangle::before {
  -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.map__tooltip .triangle::after {
  -webkit-transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.map__tooltip .triangle,
.map__tooltip .triangle:before,
.map__tooltip .triangle:after {
  width: 20px;
  height: 20px;
  border-top-right-radius: 50%;
}

.map__name, .map__location {
  padding: 4px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0d444d;
  letter-spacing: 0.7px;
}
/*# sourceMappingURL=style.css.map */