//colors
$body-bg-color: #f6f9fa;
$main-bg-color: #2a8086;
$text-color: #c5e1e5;
$border-color: #c5e1e6;
$hover-color: #ffffff;
$hero-color: #f3f7f8;
$hero-button-color: #ffffff;
$hero-button-shadow-color: rgba(185, 213, 217, 0.6);
$hero-button-text-color: #0d444d;
$hero-play-icon-bg: rgba(46, 46, 46, 0.8);
$how-caption-color: #0d444d;
$how-circle-bg-color: #ffffff;
$how-item-text-color: #0d444d;
$pets-favorite-text-color: #19707D;
$cards-item-bg-color: #ffffff;
$cards-item-shadow: rgba(0, 0, 0, 0.06);
$cards-item-border-color: #e5eaeb;
$cards-item-name-color: #2d2d2d;
$cards-item-location-color: #909090;
$pay-caption-color: #c5e1e5;
$pay-button-bg: #c5e1e6;
$pay-button-shadow: rgba(185, 213, 217, 0.6);
$pay-button-text-color: #0d444d;
$pay-circle-bg-color: #ffffff;
$pay-circle-shadow-color: rgba(185, 213, 217, 0.6);
$pay-item-text-color: #c5e1e5;
$testi-caption-color: #0d444d;
$testi-button-color: #19707d;
$testi-item-bg-color: #ffffff;
$testi-item-shadow: rgba(0, 0, 0, 0.06);
$testi-date-color: #b3b3b3;
$testi-text-color: #2d2d2d;
$testi-name-color: #000000;

//visually-hidden
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}
