//colors
$body-bg-color: #f6f9fa;
$main-bg-color: #2a8086;
$text-color: #c5e1e5;
$border-color: #c5e1e6;
$hover-color: #ffffff;
$hero-color: #f3f7f8;
$hero-button-color: #ffffff;
$hero-button-shadow-color: rgba(185, 213, 217, 0.6);
$hero-button-text-color: #0d444d;
$hero-play-icon-bg: rgba(46, 46, 46, 0.8);
$how-caption-color: #0d444d;

//visually-hidden
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}
