@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.body {
  background: #ffffff;
}

.wrapper {
  margin: 0 auto;
  padding: 0 90px 0 219px;
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  padding: 12px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 140px;
  position: absolute;
  background: #2a8086;
}

.header .wrapper {
  padding-top: 3px;
  max-height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.header .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .auth__search {
  margin-right: 34px;
  width: 32px;
  height: 32px;
  background: url(../../../assets/icons/search-icon.svg) no-repeat;
  opacity: .7;
}

.header .auth__search:hover {
  opacity: 1;
}

.header .auth__input_search {
  display: none;
}

.header .auth__login, .header .auth__signup {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c5e1e5;
}

.header .auth__signup {
  margin: 0 0 4px 17px;
  padding: 16px 14px 15px;
  border: 1px solid #c5e1e6;
  border-radius: 100px;
}

.header .auth__signup:hover {
  border: 1px solid #ffffff;
}

.header .auth__btn:hover {
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .logo {
  max-width: 108px;
  max-height: 84px;
}

.menu .logo__link {
  width: 108px;
  height: 84px;
  display: block;
  background: url(../../../assets/icons/logo.svg) no-repeat;
}

.menu__list {
  padding: 0 0 4px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  padding-right: 53px;
}

.menu__link {
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c5e1e5;
}

.menu__link:hover {
  color: #ffffff;
}

.menu__link:active {
  border-bottom: 2px solid #c5e1e6;
}

.menu__link_active {
  pointer-events: none;
  color: #ffffff;
  border-bottom: 2px solid #c5e1e6;
}

.menu__link_active:hover {
  cursor: default;
}

.main {
  min-width: 1920px;
  width: 100%;
  position: relative;
  top: 110px;
}

.main .wrapper {
  gap: 51px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .side-bar {
  margin-top: 40px;
  height: 614px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.main .side-bar__panda, .main .side-bar__eagle, .main .side-bar__gorilla, .main .side-bar__aligator {
  width: 105px;
  height: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .side-bar__link {
  width: 105px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .side-bar__link:hover .side-bar__pic_panda,
.main .side-bar__link:hover .side-bar__pic_eagle,
.main .side-bar__link:hover .side-bar__pic_gorilla,
.main .side-bar__link:hover .side-bar__pic_aligator {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.main .side-bar__link:hover .side-bar__image_panda::before,
.main .side-bar__link:hover .side-bar__image_eagle::before,
.main .side-bar__link:hover .side-bar__image_gorilla::before,
.main .side-bar__link:hover .side-bar__image_aligator::before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.main .side-bar__pic {
  width: 76px;
  height: 76px;
  position: relative;
  overflow: hidden;
  border-radius: 48% 52% 65% 35% / 43% 46% 54% 57%;
  background: #c5e1e6;
  -webkit-box-shadow: 0px 4px 10px #c5e1e5;
          box-shadow: 0px 4px 10px #c5e1e5;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.main .side-bar__pic_active {
  width: 105px;
  height: 105px;
  border: 15px solid #0a5d69;
}

.main .side-bar__image {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.main .side-bar__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.main .side-bar__image_eagle::before {
  background: url(../../../assets/images/eagle.jpg) center/cover;
}

.main .side-bar__image_gorilla::before {
  background: url(../../../assets/images/gorilla.jpg) center/cover;
}

.main .side-bar__image_aligator::before {
  background: url(../../../assets/images/crocodile.jpg) center/cover;
  background-position-x: left;
}

.main .side-bar__image_panda::before {
  background: url(../../../assets/images/panda.jpg) center/cover;
}

.main .animal {
  padding-top: 50px;
  width: 1324px;
}

.main .animal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .animal__caption {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #0d444d;
  text-transform: uppercase;
}

.main .animal__buttons {
  width: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .animal__button {
  background: none;
  border-radius: 50%;
}

.main .animal .animal-main {
  padding-top: 23px;
}

.main .animal .animal-main__caption {
  padding: 0 0 7px 2px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0d444d;
}

.main .animal .animal-main__stream {
  width: 100%;
  height: 604px;
  border-radius: 18px;
}

.main .animal .animal-side {
  padding-top: 52px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .animal .animal-side__caption {
  width: 100%;
  padding: 0 0 7px 2px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0d444d;
}

.main .animal .animal-side__arrows {
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .animal .animal-side__arrow {
  width: 52px;
  height: 52px;
  display: block;
  opacity: .8;
  background-color: transparent;
  background: url(../../../assets/icons/slider-arrow-icon.svg) no-repeat;
}

.main .animal .animal-side__arrow:hover {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .animal .animal-side__arrow_left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main .animal-slider {
  width: 1204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .animal-slider__item {
  width: 380px;
  height: 240px;
  overflow: hidden;
  border-radius: 15px;
}

.main .animal-slider__stream {
  width: 100%;
  height: 100%;
}

.main .information {
  padding: 47px 156px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .information .info,
.main .information .facts {
  max-width: 604px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0d444d;
}

.main .information .info__caption,
.main .information .facts__caption {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */