@import "../../../assets/css/clear.scss", "../../../assets/css/fonts.scss", "../../../assets/css/constants.scss";

.body {
  background: $panda-body-bg-color;
}
.wrapper {
  margin: 0 auto;
  padding: 0 90px 0 219px;
  width: 1920px;
  display: flex;
}

.header {
  padding: 12px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 140px;
  position: absolute;
  background: $main-bg-color;

  .wrapper {
    padding-top: 3px;
    max-height: 110px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
  }

  .auth {
    display: flex;
    align-items: center;

    &__search {
      margin-right: 34px;
      width: 32px;
      height: 32px;
      background: url(../../../assets/icons/search-icon.svg) no-repeat;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
    &__input_search {
      display: none;
    }
    &__login,
    &__signup {
      background: transparent;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: $text-color;
    }
    &__signup {
      margin: 0 0 4px 17px;
      padding: 16px 14px 15px;
      border: 1px solid $border-color;
      border-radius: 100px;
      
      &:hover {
        border: 1px solid $hover-color;
      }
    }
    &__btn:hover {
      color: $hover-color;
    }
  }
}

.menu {
  display: flex;

  .logo {
    max-width: 108px;
    max-height: 84px;

    &__link {
      width: 108px;
      height: 84px;
      display: block;
      background: url(../../../assets/icons/logo.svg) no-repeat;
    }
  }

  &__list {
    padding: 0 0 4px 52px;
    display: flex;
    align-items: center;
  }
  &__item:not(:last-child) {
    padding-right: 53px;
  }
  &__link {
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $text-color;
    
    &:hover {
      color: $hover-color;
    }
    &:active {
      border-bottom: 2px solid $border-color;
    }
  }
  &__link_active {
    pointer-events: none;
    color: $hover-color;
    border-bottom: 2px solid $border-color;
    
    &:hover {
      cursor: default;
    }
  }
}

.main {
  min-width: 1920px;
  width: 100%;
  position: relative;
  top: 110px;

  .wrapper {
    gap: 51px;
    flex-wrap: wrap;
  }

  .side-bar {
    margin-top: 40px;
    height: 614px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 30px;

    &__panda,
    &__eagle,
    &__gorilla,
    &__aligator {
      width: 105px;
      height: 119px;
      display: flex;
      justify-content: center;
    }
    &__link {
      width: 105px;
      height: 105px;
      display: flex;
      justify-content: center;

      &:hover .side-bar__pic_panda, 
      &:hover .side-bar__pic_eagle, 
      &:hover .side-bar__pic_gorilla, 
      &:hover .side-bar__pic_aligator {
        transform: rotate(360deg);
      }
      &:hover .side-bar__image_panda::before,
      &:hover .side-bar__image_eagle::before,
      &:hover .side-bar__image_gorilla::before,
      &:hover .side-bar__image_aligator::before {
        transform: rotate(-360deg);
      }
    }
    &__pic {
      width: 76px;
      height: 76px;
      position: relative;
      overflow: hidden;
      border-radius: 48% 52% 65% 35% / 43% 46% 54% 57%;
      background: $map-icons-bg-color;
      box-shadow: 0px 4px 10px $map-icons-shadow-color;
      transition: transform .5s;
    }
    &__pic_active {
      width: 105px;
      height: 105px;
      border: 15px solid $side-bar-border-active-color;
    }
    &__image {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform .5s;
      }
    }
    &__image_eagle::before {
      background: url(../../../assets/images/eagle.jpg) center / cover;
    }
    &__image_gorilla::before {
      background: url(../../../assets/images/gorilla.jpg) center / cover;
    }
    &__image_aligator::before {
      background: url(../../../assets/images/crocodile.jpg) center / cover;
      background-position-x: left;
    }
    &__image_panda::before {
      background: url(../../../assets/images/panda.jpg) center / cover;
    }
  }

  .animal {
    padding-top: 50px;
    width: 1324px;

    &__header {
      display: flex;
      justify-content: space-between;
    }
    &__caption {
      font-family: 'Rubik', sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: $animal-caption-color;
      text-transform: uppercase;
    }
    &__buttons {
      width: 129px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__button {
      background: none;
      border-radius: 50%;
    }
    .animal-main {
      padding-top: 23px;

      &__caption {
        padding: 0 0 7px 2px;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: $animal-caption-color;
      }
      &__stream {
        width: 100%;
        height: 604px;
        border-radius: 18px;
      }
    }
    .animal-side {
      padding-top: 52px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &__caption {
        width: 100%;
        padding: 0 0 7px 2px;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: $animal-caption-color;
      }
      &__arrows {
        padding-left: 32px;
        display: flex;
        flex-direction: column;
      }
      &__arrow {
        width: 52px;
        height: 52px;
        display: block;
        opacity: .8;
        background-color: transparent;
        background: url(../../../assets/icons/slider-arrow-icon.svg) no-repeat;
    
        &:hover {
          opacity: 1;
          transition: .3s;
        }
      }
      &__arrow_left {
        transform: rotate(180deg);
      }
    }
  }

  .animal-slider {
    width: 1204px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      width: 380px;
      height: 240px;
      overflow: hidden;
      border-radius: 15px;
    }
    &__stream {
      width: 100%;
      height: 100%;
    }
  }

  .information {
    width: 1274px;
    margin: 47px 0 0 156px;
    display: flex;

    .info,
    .facts {
      width: 604px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: $animal-caption-color;

      &__caption {
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    .info {
      height: 480px;
      margin-right: 72px;

      &__list {
        padding-top: 25px;
        height: 100%;
      }
      &__item {
        height: 53px;

        &:not(:first-child) {
          margin-top: 30px;
        }
        &:last-child {
          width: 85%;
          height: 65px;
          line-height: 20px;
        }
      }
      &__subcaption {
        font-size: 16px;
      }
      &__description {
        display: block;
        padding-top: 8px;

        &[href] {
          text-decoration: underline;
        }
      }
    }
    .facts {

      &__list {
        padding: 26px 0 0 23px;
      }
      &__item {
        position: relative;
        &::before {
          content: url(../../../assets/icons/facts_icon.svg);
          position: absolute;
          top: 0;
          left: -23px;
        }

        &:not(:first-child) {
          padding-top: 26px;

          &::before {
            top: 22px;
            left: -23px;
          }
        }
      }
    }
  }
}
