@import "../../assets/css/clear.scss", "../../assets/css/fonts.scss", "../../assets/css/constants.scss";

.body {
  background: $body-bg-color;
}
.wrapper {
  margin: 0 auto;
  padding: 0 90px 0 219px;
  width: 1920px;
  display: flex;
}

.header {
  padding: 15px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 140px;
  position: absolute;
  background: $main-bg-color;

  .wrapper {
    max-height: 110px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
  }

  .menu {
    display: flex;

    .logo {
      max-width: 108px;
      max-height: 84px;
  
      &__link {
        width: 108px;
        height: 84px;
        display: block;
        background: url(../../assets/icons/logo.svg) no-repeat;
      }
    }

    &__list {
      padding: 0 0 4px 52px;
      display: flex;
      align-items: center;
    }
    &__item:not(:last-child) {
      padding-right: 53px;
    }
    &__link {
      width: 100%;
      height: 100%;
      display: block;
      font-family: 'Roboto Mono', monospace;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: $text-color;
      
      &:hover {
        color: $hover-color;
      }
      &:active {
        border-bottom: 2px solid $border-color;
      }
    }
    &__link_active {
      color: $hover-color;
      border-bottom: 2px solid $border-color;
      
      &:hover {
        cursor: default;
      }
    }
  }
  .auth {
    display: flex;
    align-items: center;

    &__search {
      margin-right: 34px;
      width: 32px;
      height: 32px;
      background: url(../../assets/icons/search-icon.svg) no-repeat;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
    &__input_search {
      display: none;
    }
    &__login,
    &__signup {
      background: transparent;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: $text-color;
    }
    &__signup {
      margin: 0 0 4px 17px;
      padding: 16px 14px 15px;
      border: 1px solid $border-color;
      border-radius: 100px;
      
      &:hover {
        border: 1px solid $hover-color;
      }
    }
    &__btn:hover {
      color: $hover-color;
    }
  }
}

.hero {
  min-width: 1920px;
  height: 803px;
  width: 100%;
  position: relative;
  top: 110px;
  background: url(../../assets/bg/hero_bg.png) center bottom/cover repeat-x;
  background-size: auto 100%;

  &__content {
    padding-top: 109px;
    max-width: 677px;
    display: flex;
    flex-direction: column;
  }
  &__caption {
    padding-bottom: 31px;
    font-family: 'Rubik', sans-serif;
    font-size: 72px;
    font-weight: 300;
    color: $hero-color;
    line-height: 75px;
  }
  &__caption_bold {
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 0.6px;
  }
  &__description {
    padding-bottom: 87px;
    max-width: 480px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $hero-color;
    line-height: 19px;
  }
  &__link {
    padding: 14px 80px;
    width: 258px;
    height: 52px;
    display: block;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    color: $hero-button-text-color;
    background: $hero-button-color;
    box-shadow: 0px 2px 50px $hero-button-shadow-color;
    border-radius: 100px;
  }

  .animal {
    width: 804px;
    height: 666px;
    display: block;
    position: relative;
    top: 48px;
    overflow: hidden;
    border-radius: 60% 40% 39% 61% / 62% 56% 44% 38%;

    &__link,
    &__image {
      width: 100%;
      height: 100%;
      display: block;
    }
    &__link::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: $main-bg-color;
      opacity: .2;
    }
    &__link:hover::before {
      opacity: 0;
      transition: .3s;
    }

    &__play-icon {
      width: 99px;
      height: 74px;
      display: flex;
      align-items: center;
      position: absolute;
      left: 384px;
      bottom: 261px;
      border-radius: 20px;
      background: $hero-play-icon-bg;
    }
    &__play-icon_arrow {
      margin: 0 auto;
      width: 33px;
      height: 39px;
      background: url(../../assets/icons/play-icon.svg) no-repeat;
    }
  }
}

.how {
  padding: 35px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 926px;

  &__content {
    padding-bottom: 76px;
    flex-direction: column;
  }

  &__caption {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $how-caption-color;
    text-transform: uppercase;
  }
  &__list {
    max-width: 1480px;
    padding-top: 98px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 480px;
    height: 200px;
  }
  &__icon {
    margin: 0 auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background: $how-circle-bg-color;
    position: relative;

    &::before {
      width: 64px;
      height: 64px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &__icon_binocular::before {
    width: 50px;
    height: 50px;
    content: url(../../assets/icons/binoculars-icon.svg);
  }
  &__icon_heart::before {
    content: url(../../assets/icons/heart-icon.svg);
  }
  &__icon_hand::before {
    content: url(../../assets/icons/hand-icon.svg);
  }
  &__description {
    padding: 16px 0 0 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $how-item-text-color;
    text-align: center;
  }

  .how__bg {
    width: 100%;
    height: 523px;
    background: url(../../assets/bg/how_bg.png) center bottom/cover repeat-x;
    background-size: auto 100%;

    .wrapper {
      padding: 0;
      margin: 0 auto;
      max-width: 1920px;
      position: relative;
    }
    
    &_bamboo {
      position: absolute;
      background: url(../../assets/icons/bamboo.svg) center center/cover no-repeat;
    }
    &_tree {
      width: 130px;
      height: 230px;
      position: absolute;
      background: url(../../assets/icons/tree.svg) center center/cover no-repeat;
    }

    &_bamboo-left {
      width: 116px;
      height: 221px;
      top: 62px;
      left: 1px;
    }
    &_tree-left {
      top: 47px;
      left: 221px;
    }
    &_tree-center {
      width: 89px;
      height: 158px;
      top: 107px;
      left: calc(50% - 165px);
    }
    &_panda {
      width: 169px;
      height: 155px;
      position: absolute;
      top: 205px;
      left: calc(50% - 10px);
      background: url(../../assets/icons/panda.svg) center center/cover no-repeat;
    }
    &_bamboo-center {
      width: 147px;
      height: 280px;
      top: 93px;
      left: calc(50% + 80px);
    }
    &_tree-right {
      top: 163px;
      right: 175px;
    }
  }
}

.pets {
  margin-top: 106px;
  min-width: 1920px;
  width: 100%;
  max-height: 867px;

  .wrapper {
    position: relative;
    flex-direction: column;
  }

  &__header {
    padding-bottom: 66px;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__caption {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $how-caption-color;
    text-transform: uppercase;
  }
  &__link {
    padding-left: 43px;
    width: 331px;
    height: 52px;
    display: block;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    color: $pets-favorite-text-color;
    text-transform: uppercase;
    text-align: center;
    border: 1.5px solid $pets-favorite-text-color;
    border-radius: 100px;
    line-height: 49px;
    letter-spacing: 1.8px;
    opacity: .8;

    &::before {
      content: url(../../assets/icons/choose-heart.svg);
      width: 24px;
      height: 24px;
      position: absolute;
      top: 5px;
      left: 19px;
    }
    &:hover {
      opacity: 1;
      transition: .3s;
    }
  }
  &__icon-pengi {
    width: 33px;
    height: 66px;
    position: absolute;
    bottom: 13px;
    right: 128px;
    background: url(../../assets/icons/pengi.svg) no-repeat;
  }
}

.cards {
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    width: 480px;
    height: 364px;
    background: $cards-item-bg-color;
    box-shadow: 0px 2px 30px $cards-item-shadow;
    border-radius: 10px;
  }
  &__link {
    width: 100%;
    height: 100%;
    display: block;

    &:hover .cards__pic_panda, 
    &:hover .cards__pic_eagle, 
    &:hover .cards__pic_gorilla, 
    &:hover .cards__pic_aligator, 
    &:hover .cards__pic_elephant, 
    &:hover .cards__pic_lemur {
      transform: rotate(360deg);
    }
    &:hover .cards__image_panda::before,
    &:hover .cards__image_eagle::before,
    &:hover .cards__image_gorilla::before,
    &:hover .cards__image_aligator::before,
    &:hover .cards__image_elephant::before,
    &:hover .cards__image_lemur::before {
      transform: rotate(-360deg);
    }
  }
  &__pic {
    margin: 20px auto 31px;
    width: 229px;
    height: 221px;
    position: relative;
    overflow: hidden;
    border-radius: 48% 52% 65% 35% / 43% 46% 54% 57%;
    transition: transform .5s;
  }
  &__image {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform .5s;
    }
  }
  &__image_panda::before {
    background: url(../../assets/images/panda.jpg) center / cover;
  }
  &__image_eagle::before {
    background: url(../../assets/images/eagle.jpg) center / cover;
  }
  &__image_gorilla::before {
    background: url(../../assets/images/gorilla.jpg) center / cover;
  }
  &__image_aligator::before {
    background: url(../../assets/images/crocodile.jpg) center / cover;
  }
  &__image_elephant::before {
    background: url(../../assets/images/elephant.jpg) center / cover;
  }
  &__image_lemur::before {
    background: url(../../assets/images/lemur.jpg) center / cover;
  }
  
  &__content {
    padding: 16px 31px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid $cards-item-border-color;

    &::after {
      content: url(../../assets/icons/tv-icon.svg);
      width: 32px;
      height: 32px;
      position: absolute;
      top: 29px;
      right: 29px;
    }
  }
  &__name {
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: 500;
    color: $cards-item-name-color;
  }
  &__location {
    font-size: 16px;
    font-weight: 400;
    color: $cards-item-location-color;
  }
  
  &__arrow {
    width: 52px;
    height: 52px;
    position: absolute;
    opacity: .8;
    background-color: transparent;
    background: url(../../assets/icons/slider-arrow-icon.svg) no-repeat;

    &:hover {
      opacity: 1;
      transition: .3s;
    }
  }
  &__arrow_left {
    top: 50%;
    right: 119px;
    transform: rotate(180deg) translateY(-59px);
  }
  &__arrow_right {
    top: 50%;
    right: 119px;
    transform: translateY(7px);
  }
}

.pay {
  margin-top: 100px;
  min-width: 1920px;
  width: 100%;
  height: 564px;
  background: url(../../assets/bg/pay_bg.png) center center/cover repeat-x;
  background-size: auto 100%;

  .wrapper {
    padding-top: 90px;
    position: relative;
    flex-direction: column;
  }

  &__header {
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__caption {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $pay-caption-color;
    text-transform: uppercase;
  }
  &__button {
    width: 356px;
    height: 52px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.9px;
    text-align: center;
    text-transform: uppercase;
    color: $pay-button-text-color;
    border-radius: 100px;
    background: $pay-button-bg;
    filter: drop-shadow(0px 2px 20px $pay-button-shadow);
  }
  &__list {
    max-width: 1480px;
    padding-top: 92px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding-right: 5px;
    width: 480px;
    height: 200px;
    position: relative;

    &:not(:last-child)::after {
      content: url(../../assets/icons/pay-arrow.svg);
      position: absolute;
      top: 48px;
      right: -177px;
    }
  }
  &__icon {
    margin: 0 auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background: $pay-circle-bg-color;
    box-shadow: 0px 2px 50px $pay-circle-shadow-color;
    position: relative;

    &::before {
      width: 64px;
      height: 64px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &__icon_donate::before {
    content: url(../../assets/icons/pay-donate.svg);
  }
  &__icon_hand::before {
    content: url(../../assets/icons/pay-hand.svg);
  }
  &__icon_monkey::before {
    content: url(../../assets/icons/pay-monkey.svg);
  }
  &__description {
    padding: 16px 0 0 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $pay-item-text-color;
    text-align: center;
  }
  &__tree {
    width: 130px;
    height: 230px;
    position: absolute;
    top: 124px;
    left: 17px;
    background: url(../../assets/icons/tree.svg) center center/cover no-repeat;
  }
  &__bamboo {
    width: 116px;
    height: 221px;
    position: absolute;
    bottom: 4px;
    right: 33px;
    background: url(../../assets/icons/bamboo.svg) center center/cover no-repeat;
  }
}

.testimonials {
  margin-top: 100px;
  min-width: 1920px;
  width: 100%;
  height: 364px;

  .wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1480px;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__caption {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $testi-caption-color;
    text-transform: uppercase;
  }
  &__button {
    padding-left: 47px;
    width: 255px;
    height: 52px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color: $testi-button-color;
    background: transparent;
    border: 1.5px solid $testi-button-color;
    border-radius: 100px;
    opacity: .8;

    &:hover {
      opacity: 1;
      transition: .3s;
    }

    &::before {
      content: url(../../assets/icons/testi-button-icon.svg);
      width: 24px;
      height: 24px;
      position: absolute;
      top: 12px;
      left: 18px;
    }
  }
  &__list {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 480px;
    height: 259px;
  }
  &__cloud {
    padding: 28px 45px;
    width: 100%;
    height: 172px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: $testi-item-bg-color;
    box-shadow: 0px 2px 30px $testi-item-shadow;
    border-radius: 10px;

    .triangle {
      position: relative;
      bottom: -73px;
      left: 36px;
      background: $testi-item-bg-color;
      transform: skewX(-30deg) scale(1, .866);

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: inherit;
      }
      &::before {
        transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
      }
      &::after {
        transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
      }
    }
    .triangle,
    .triangle:before,
    .triangle:after {
      width: 20px;
      height: 20px;
      border-top-right-radius: 50%;
    }
  }
  &__date {
    font-size: 14px;
    font-weight: 400;
    color: $testi-date-color;
  }
  &__text,
  &__name {
    padding-top: 8px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: $testi-text-color;
  }
  &__author {
    padding: 18px;
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 68px;
    height: 68px;
    border-radius: 50%;
  }
  &__name {
    padding: 0 17px;
    color: $testi-name-color;
  }
}

.look {
  margin-top: 99px;
  min-width: 1920px;
  width: 100%;
  height: 210px;
  
  .wrapper {
    position: relative;
    flex-direction: column;
  }

  &__caption {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $look-caption-color;
    text-transform: uppercase;
  }
  .cards {
    padding-top: 67px;
    max-width: 1335px;
    flex-wrap: nowrap;
    gap: 0;

    &__item {
      width: 105px;
      height: 131px;
      background: none;
      box-shadow: none;
      border-radius: 0;
    }
    &__pic {
      margin: 0;
      width: 76px;
      height: 73px;
    }
    &__name {
      padding: 7px 33px 0 0;
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
      font-weight: 500;
      color: $cards-item-name-color;
      text-transform: uppercase;
      text-align: center;
    }
    &__arrow {
      width: 52px;
      height: 52px;
      position: absolute;
      opacity: .8;
      background-color: transparent;
      background: url(../../assets/icons/slider-arrow-icon.svg) no-repeat;
  
      &:hover {
        opacity: 1;
        transition: .3s;
      }
    }
    &__arrow_left {
      top: 85px;
      right: 268px;
    }
    &__arrow_right {
      top: 92px;
      right: 268px;
      transform: none;
    }
  }
}
