@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.body {
  background: #f6f9fa;
}

.wrapper {
  margin: 0 auto;
  padding: 0 90px 0 219px;
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  padding: 15px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 140px;
  position: absolute;
  background: #2a8086;
}

.header .wrapper {
  max-height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu .logo {
  max-width: 108px;
  max-height: 84px;
}

.header .menu .logo__link {
  width: 108px;
  height: 84px;
  display: block;
  background: url(../../assets/icons/logo.svg) no-repeat;
}

.header .menu__list {
  padding: 0 0 4px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__item:not(:last-child) {
  padding-right: 53px;
}

.header .menu__link {
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c5e1e5;
}

.header .menu__link:hover {
  color: #ffffff;
}

.header .menu__link:active {
  border-bottom: 2px solid #c5e1e6;
}

.header .menu__link_active {
  color: #ffffff;
  border-bottom: 2px solid #c5e1e6;
}

.header .menu__link_active:hover {
  cursor: default;
}

.header .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .auth__search {
  margin-right: 34px;
  width: 32px;
  height: 32px;
  background: url(../../assets/icons/search-icon.svg) no-repeat;
  opacity: .7;
}

.header .auth__search:hover {
  opacity: 1;
}

.header .auth__input_search {
  display: none;
}

.header .auth__login, .header .auth__signup {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c5e1e5;
}

.header .auth__signup {
  margin: 0 0 4px 17px;
  padding: 16px 14px 15px;
  border: 1px solid #c5e1e6;
  border-radius: 100px;
}

.header .auth__signup:hover {
  border: 1px solid #ffffff;
}

.header .auth__btn:hover {
  color: #ffffff;
}

.hero {
  min-width: 1920px;
  height: 803px;
  width: 100%;
  position: relative;
  top: 110px;
  background: url(../../assets/bg/hero_bg.png) center bottom/cover repeat-x;
  background-size: auto 100%;
}

.hero__content {
  padding-top: 109px;
  max-width: 677px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__caption {
  padding-bottom: 31px;
  font-family: 'Rubik', sans-serif;
  font-size: 72px;
  font-weight: 300;
  color: #f3f7f8;
  line-height: 75px;
}

.hero__caption_bold {
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.hero__description {
  padding-bottom: 87px;
  max-width: 480px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #f3f7f8;
  line-height: 19px;
}

.hero__link {
  padding: 14px 80px;
  width: 258px;
  height: 52px;
  display: block;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  color: #0d444d;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 100px;
}

.hero .animal {
  width: 804px;
  height: 666px;
  display: block;
  position: relative;
  top: 48px;
  overflow: hidden;
  border-radius: 60% 40% 39% 61% / 62% 56% 44% 38%;
}

.hero .animal__link, .hero .animal__image {
  width: 100%;
  height: 100%;
  display: block;
}

.hero .animal__link::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2a8086;
  opacity: .2;
}

.hero .animal__link:hover::before {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero .animal__play-icon {
  width: 99px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 384px;
  bottom: 261px;
  border-radius: 20px;
  background: rgba(46, 46, 46, 0.8);
}

.hero .animal__play-icon_arrow {
  margin: 0 auto;
  width: 33px;
  height: 39px;
  background: url(../../assets/icons/play-icon.svg) no-repeat;
}

.how {
  padding: 35px 0;
  min-width: 1920px;
  width: 100%;
  max-height: 926px;
}

.how__content {
  padding-bottom: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how__caption {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #0d444d;
  text-transform: uppercase;
}

.how__list {
  max-width: 1480px;
  padding-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__item {
  width: 480px;
  height: 200px;
}

.how__icon {
  margin: 0 auto;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
}

.how__icon::before {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.how__icon_binocular::before {
  width: 50px;
  height: 50px;
  content: url(../../assets/icons/binoculars-icon.svg);
}

.how__icon_heart::before {
  content: url(../../assets/icons/heart-icon.svg);
}

.how__icon_hand::before {
  content: url(../../assets/icons/hand-icon.svg);
}

.how__description {
  padding: 16px 0 0 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0d444d;
  text-align: center;
}

.how .how__bg {
  width: 100%;
  height: 523px;
  background: url(../../assets/bg/how_bg.png) center bottom/cover repeat-x;
  background-size: auto 100%;
}

.how .how__bg .wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

.how .how__bg_bamboo {
  position: absolute;
  background: url(../../assets/icons/bamboo.svg) center center/cover no-repeat;
}

.how .how__bg_tree {
  width: 130px;
  height: 230px;
  position: absolute;
  background: url(../../assets/icons/tree.svg) center center/cover no-repeat;
}

.how .how__bg_bamboo-left {
  width: 116px;
  height: 221px;
  top: 62px;
  left: 1px;
}

.how .how__bg_tree-left {
  top: 47px;
  left: 221px;
}

.how .how__bg_tree-center {
  width: 89px;
  height: 158px;
  top: 107px;
  left: calc(50% - 165px);
}

.how .how__bg_panda {
  width: 169px;
  height: 155px;
  position: absolute;
  top: 205px;
  left: calc(50% - 10px);
  background: url(../../assets/icons/panda.svg) center center/cover no-repeat;
}

.how .how__bg_bamboo-center {
  width: 147px;
  height: 280px;
  top: 93px;
  left: calc(50% + 80px);
}

.how .how__bg_tree-right {
  top: 163px;
  right: 175px;
}

.pets {
  padding-top: 106px;
  min-width: 1920px;
  width: 100%;
  max-height: 867px;
}

.pets .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets__header {
  max-width: 1480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__caption {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #0d444d;
  text-transform: uppercase;
}

.pets__link {
  padding-left: 43px;
  width: 331px;
  height: 52px;
  display: block;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  color: #19707D;
  text-transform: uppercase;
  text-align: center;
  border: 1.5px solid #19707D;
  border-radius: 100px;
  line-height: 49px;
  letter-spacing: 1.8px;
  opacity: .8;
}

.pets__link::before {
  content: url(../../assets/icons/choose-heart.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 19px;
}

.pets__link:hover {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=style.css.map */